@model IEnumerable<Payroll_Mvc.Worksheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model=>Model.User_id)
        </th>
        <th>
           @Html.DisplayNameFor(Model=>Model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(Model=>Model.LunchBreak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDone)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchBreak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDone)
            </td>
         
        </tr>

    }

</table>
<div>
    <a href="~/Administrators/Index/" class="btn btn-default" style=" background-color:cornflowerblue">Back</a>
</div>