@model IEnumerable<Payroll_Mvc.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {       
            <tr>
                <td>
                    @Html.DisplayFor(model => item.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(model=> item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelIt=> item.Password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.User_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.User_id }) |

                    <a href="~/LeaveEmps/Index/" class="btn btn-default" style=" background-color:cornflowerblue">Leave</a>
                    <a href="~/Login/Forgot/" class="btn btn-default" style=" background-color:cornflowerblue">Forgot Password</a>
                    <a href="~/LeaveEmps/Index/" class="btn btn-default" style=" background-color:cornflowerblue">Leave</a>
                    <a href="~/Login/Forgot/" class="btn btn-default" style=" background-color:cornflowerblue">Worh Sheet</a>

                </td>
            </tr>

    }

</table>
