@model IEnumerable<Payroll_Mvc.salaryreport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProffessionalTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PfAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProffessionalTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_id })
        </td>
    </tr>
}

</table>
<div>
    <a href="~/Administrators/Index/" class="btn btn-default" style=" background-color:cornflowerblue">Back</a>
</div>
